@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

body {
    margin: 0;
    padding: 0;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar p{
    color: black;
    text-decoration: none;
}
.appbar {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #f7f5f2;
}
.appbarrNavigation{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.companyName {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompanyNameImage {
    width: 50px;
    height: 50px;
}

.CompanyNametext {
    width: 90px;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal; 
}
.nav-links{
    display: flex;
    background-color: #f7f5f2;
    padding: 2rem;
    gap: 2rem;
}
.nav-links li{
    list-style: none;
    position: relative;
}
.nav-links a{
    color: black;
    text-decoration: none;
}
.information{
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}
.information a{
    padding: 0.7rem;

}
.sub-menu{
    display: none;
    position: absolute;
    width: 180px;
    border-radius: 10px;
    top: 2rem;
    background-color: wheat;
    left: 0;
}
.information a:hover{
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
    transition: all 1s ease;
}
.sub-menu li{
    margin: 20px;
}
.sub-menu2{
    display: none;
    position: absolute;
    width: 180px;
    border-radius: 10px ;
    background-color: rgb(255, 208, 120);
}
.products-1a:hover .products1{
    display: block;

}
.products1:hover .Nestle{
    display: block;
    left: 100%;
    top: -30%;
    transition: all 0.3s;
}